.card-container {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 10px;
}

.card {
    flex: 1;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 22px;
    transition: 0.5s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.card-cover {
    background: #eff;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px;
    color: green;
    border-radius: 10px;
}

.card-title {
    background: rgb(238, 238, 238);
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    border-radius: 10px;
}

/*=========================================================*/
@media(max-width:768px) {
    .card-container {
        display: block;
        gap: 10px;

    }

    .card {
        padding: 15px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        margin-top: 15px;

    }

    .card-cover {
        font-size: 15px;
        display: block;
        padding: 10px;

    }

    .card-title {

        width: 90%;
        text-align: center;
        padding: 10px 0;
        font-size: 15px;
        border-radius: 10px;
    }
}