*{
  margin: 0;
  padding: 0;
}
.dashboard{
  display: flex;
  gap: 20px;
}
.dashboard-info{
  background: rgb(242, 247, 242);
  flex: 1;
  border-radius: 20px;
  padding: 2rem;
  padding: 2rem;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
@media (max-width:500px){
  .dashboard{
    flex-direction: column;
    max-width: 100%;
  }
    .dashboard-info{
      flex-direction: column;
      display: block;
    }
}